<!-- Progress Indicators Partial -->
<div id="progress-container" class="progress-container">
    <div class="progress-text" id="progress-text">Initializing...</div>
    
    <div class="progress-bar">
        <div class="progress-bar-inner" id="progress-bar"></div>
    </div>
    
    <div class="progress-status" id="progress-status">Please wait...</div>
</div>